/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
/* ここまでリセットCSS */

/* ここから記述 */
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
}

header {

  height: 100px;
  text-align: right;
}

header h1 {
  position: absolute;
  top: 7px;
}

header h1 img {
  width: 280px;
  }

header ul {
  list-style: none;
  display: inline-block;
  padding: 20px;
}

header ul li {
  display: inline-block;
  color: #6C7570;
  text-align: left;
  line-height: 1.3;
  vertical-align: middle;

}

header ul li:first-child {
  margin-right: 20px;
}

header ul li h2{
  font-size: 13px;
  font-weight: normal;
}

header ul li p {
  font-size: 32px;
  font-weight: bold;
}

header ul li a {
  display: inline-block;
  height: 48px;
  padding: 0 15px;
  border-radius: 5px;
  font-size:22px;
  color: #fff;
  text-decoration: none;
  line-height: 48px;
  background-color: #6c757d;
}

header ul li a:hover {
  background-color: #5a6268;
}

header .inner {
  position: relative;
}


body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}



.inner {
  width: 1140px;
  margin: 0 auto;

}

nav {
  background-color: #343a40;
  text-align: center;
}

nav ul {
  width: 1110px;
  margin: 0 auto;
}

nav ul li {
  display: inline-block;  
}

nav ul li a {
  display: inline-block;
  height: 55px;
  padding: 0 35px ;
  line-height: 55px;
  color: rgba(255,255,255,.5);
  text-decoration: none;
}

nav ul li a:hover {
  color: rgba(255,255,255,.75);
}

.key_visual {

  height: 600px;
  background-image: url(images/top-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: right;
}

.key_visual_content {
  display: inline-block;
  width: 560px;
  height: 300px;
  padding: 30px 15px;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 5px;
  background: #fff;
  box-sizing: border-box;
  margin-top: 60px;

}

.key_visual_content h2 {
  font-size: 55px;
  font-weight: 300;
  text-align: left;
  margin-bottom: 20px;
}
.key_visual_content p {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  text-align: left;
}

.key_visual_content .notice {
  font-size: 14px;
  text-align: left;
  margin-bottom: 30px;
}